.confirm__content{
    margin: 0 auto;
    max-width: 1230px;
}

.confirm__heading{
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: #8C8070;
    font-size: 30px;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.form{
    margin: 0 auto;
    width: 70%;
}

.confirm-table{
    border: 1px solid #D3D2D1;
}

.confirm-table__inner{
    width: 100%;
}

.confirm-table__row{
    border-bottom: 1px solid #D3D2D1;
}

.confirm-table__row-last{
    height: 100px;
}

.confirm-table__header{
    width: 35%;
    text-align: left;
    padding: 20px 30px;
    color: white;
    font-size: 15px;
    background-color: rgba(106, 82, 4, 0.42);
    font-family: 'Georgia', 'Times New Roman', serif;
}

.confirm-table__text-name{
    display: flex;
    margin-top: 10px;
    padding: 0 30px;
}

.confirm-table__text-name input{
    width: 15%;
    padding: 10px 0px;
    outline: none;
    border: none;
    color: #8C8070;
    font-size: 15px;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.confirm-table__text input,
.confirm-table__text-p{
    width: 100%;
    padding: 10px 30px;
    outline: none;
    border: none;
    color: #8C8070;
    font-size: 15px;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.form__button {
    margin: 30px 0;
    text-align: center;
}

.form__button-send__submit{
    padding: 5px;
    width: 10%;
    height: 40px;
    border: none;
    background: #8C8070;
    color: #fff;
    cursor: pointer;
}

.form__button-fix__submit{
    padding: 5px;
    border: none;
    color: #8C8070;
    cursor: pointer;
    background-color: #fff;
    text-decoration: underline;
    position: fixed;
        top:92%;
        left: 55%;
}

